{% extends 'baseuser.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}

{% block stylesheets %}
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" type="text/css"/>
      {# <img src="{{ asset('Images/fevicon.png') }}" alt="Fevicon"/> #}
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet"/>
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link href="{{ asset('css/owl.carousel.min.css') }}" rel="stylesheet"/>
      <link href="{{ asset('css/owl.theme.default.min.css') }}" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}
<div style="width: 200px; height: 200px; background-image: url("index/public/images/avata.jpg"); background-size: cover">
</div>
<div class="banner_section layout_padding">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner">
        <div class="carousel-item active">
           <div class="container">
              <div class="row">
                 <div class="col-sm-6">
                    <h1 class="banner_taital">Beauty <br>Kit</h1>
                    <p class="banner_text">Bags have been essential to our daily life ever since people have had something precious to carry around with them, but the items that the bags have contained have changed over time. People carried bags because they could not effectively hold everything they needed to transport in their hands. Bags allowed them to carry a lot of things at once. The term "handbag" first came into use in the early 1900's and generally referred to hand-held luggage bags usually carried by men.</p>
                    <div class="read_bt"><a href="{{path('app_products')}}">Buy Now</a></div>
                 </div>
                 <div class="col-sm-6">
                    <div class="banner_img"><img src="images/banner-img.png"></div>
                 </div>
              </div>
           </div>
        </div>
        <div class="carousel-item">
           <div class="container">
              <div class="row">
                 <div class="col-sm-6">
                    <h1 class="banner_taital">Beauty <br>Kit</h1>
                    <p class="banner_text">Bags have been essential to our daily life ever since people have had something precious to carry around with them, but the items that the bags have contained have changed over time. People carried bags because they could not effectively hold everything they needed to transport in their hands. Bags allowed them to carry a lot of things at once. The term "handbag" first came into use in the early 1900's and generally referred to hand-held luggage bags usually carried by men. </p>
                    <div class="read_bt"><a href="{{path('app_products')}}">Buy Now</a></div>
                 </div>
                 <div class="col-sm-6">
                    <div class="banner_img"><img src="images/banner-img.png"></div>
                 </div>
              </div>
           </div>
        </div>
        <div class="carousel-item">
           <div class="container">
              <div class="row">
                 <div class="col-sm-6">
                    <h1 class="banner_taital">Beauty <br>Kit</h1>
                    <p class="banner_text">Bags have been essential to our daily life ever since people have had something precious to carry around with them, but the items that the bags have contained have changed over time. People carried bags because they could not effectively hold everything they needed to transport in their hands. Bags allowed them to carry a lot of things at once. The term "handbag" first came into use in the early 1900's and generally referred to hand-held luggage bags usually carried by men. </p>
                    <div class="read_bt"><a href="{{path('app_products')}}">Buy Now</a></div>
                 </div>
                 <div class="col-sm-6">
                    <div class="banner_img"><img src="images/banner-img.png"></div>
                 </div>
              </div>
           </div>
        </div>
        <div class="carousel-item">
           <div class="container">
              <div class="row">
                 <div class="col-sm-6">
                    <h1 class="banner_taital">Beauty <br>Kit</h1>
                    <p class="banner_text">Bags have been essential to our daily life ever since people have had something precious to carry around with them, but the items that the bags have contained have changed over time. People carried bags because they could not effectively hold everything they needed to transport in their hands. Bags allowed them to carry a lot of things at once. The term "handbag" first came into use in the early 1900's and generally referred to hand-held luggage bags usually carried by men. </p>
                    <div class="read_bt"><a href="{{path('app_products')}}">Buy Now</a></div>
                 </div>
                 <div class="col-sm-6">
                    <div class="banner_img"><img src="images/banner-img.png"></div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>

{% endblock %}
{% block javascripts %}
{% endblock %}