{% extends 'baseuser.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block stylesheets %}
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" type="text/css"/>
      {# <img src="{{ asset('Images/fevicon.png') }}" alt="Fevicon"/> #}
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet"/>
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link href="{{ asset('css/owl.carousel.min.css') }}" rel="stylesheet"/>
      <link href="{{ asset('css/owl.theme.default.min.css') }}" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="customer_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <h1 class="customer_taital">What says customers</h1>
          </div>
       </div>
       <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
             <div class="carousel-item active">
                <div class="client_section_2">
                   <div class="client_main">
                      <div class="client_left">
                         <div class="client_img"><img src="images/client-img.png"></div>
                      </div>
                      <div class="client_right">
                         <h3 class="name_text">Jonyro</h3>
                         <p class="dolor_text">The present study was conducted with an objective to study the assessment of existing trend of usage of bags among college girls in terms of design, style, functionality and their satisfaction level. A sample of 30 college girls was selected randomly from College of Home Science, Maharana Pratap University of Agriculture and Technology, Udaipur.</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="client_section_2">
                   <div class="client_main">
                      <div class="client_left">
                         <div class="client_img"><img src="images/client-img.png"></div>
                      </div>
                      <div class="client_right">
                         <h3 class="name_text">Jonyro</h3>
                         <p class="dolor_text">The present study was conducted with an objective to study the assessment of existing trend of usage of bags among college girls in terms of design, style, functionality and their satisfaction level. A sample of 30 college girls was selected randomly from College of Home Science, Maharana Pratap University of Agriculture and Technology, Udaipur.</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="client_section_2">
                   <div class="client_main">
                      <div class="client_left">
                         <div class="client_img"><img src="images/client-img.png"></div>
                      </div>
                      <div class="client_right">
                         <h3 class="name_text">Jonyro</h3>
                         <p class="dolor_text">The present study was conducted with an objective to study the assessment of existing trend of usage of bags among college girls in terms of design, style, functionality and their satisfaction level. A sample of 30 college girls was selected randomly from College of Home Science, Maharana Pratap University of Agriculture and Technology, Udaipur.</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
          </a>
       </div>
    </div>
 </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
