{% extends 'base.html.twig' %}

{% block title %}User Manager{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{path('app_user_manager_add')}}" class='btn btn-primary'>Add</a>
        <table class="table">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Username</td>
                    <td>Fullname</td>
                    <td>Act</td>
                </tr>
            </thead>
            <tbody>     
                {% for u in data %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{u.getUsername()}}</td>
                        <td>{{u.getFirstName()}} {{u.getLastName()}}</td>
                        <td>
                            <a href="javascript:deleteu('{{path('app_delete_user_manager',{'id':u.getId()})}}')" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}
<script>
    function deleteu(url){
        if(confirm("Do you delete Account?")){
            window.location.href = url;
        }
    }
</script>
{% endblock %}