{% extends 'base.html.twig' %}

{% block title %}Hello FeedbackController!{% endblock %}

{% block body %}

<div class="container">

    <table class="table" style="text-align: center">
        <thead>
            <tr >
                <td> No </td>
                <td> Feedback Code  </td>
                <td> Full Name </td>
                <td> Email </td>
                {# <td> Time </td> #}
                <td> Title </td>
                <td> Message </td>
                <td> Act </td>
            </tr>
         </thead>

         <tbody>
            {% for fb in data %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{fb.getId()}}</td>
                    <td>{{fb.getFullname()}}</td>
                    <td>{{fb.getEmail()}}</td>
                    {# <td>{{fb.getTime()}}</td> #}
                    <td>{{fb.getTitle()}}</td>
                    <td>{{fb.getMessage()}}</td>
                        <td>
                        <a href="javascript:deletefb('{{path('app_delete_feedback',{'id':fb.getId()})}}')" class="btn btn-warning"> Delete</a> 
                        </td>
                </tr>
             {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascripts %}
<script>
    function deletefb(url){
        if(confirm("Do you delete feeback?")){
            window.location.href = url;
        }
    }
</script>
{% endblock %}


 
